<div id="homeView">

    <div id="wrapper">

        <div class="well">
            <% if (typeof(error)!="undefined") {
            %>
            <div class="alert">
                Errore nella comunicazione con il server, riprovare
            </div>
            <%
            }
            %>

            <% if (typeof(rest_token)!="undefined") {
            %>
            <div class="alert">
                Token: <%= rest_token %>
            </div>
            <%
            }
            %>
            <h3>Pannello di controllo</h3>


            <div class="row-fluid ">
                <div class=span6><button class="btn btn-info btn-large" id="messageList">Messaggi</button></div>
                <div class=span6><button class="btn btn-info btn-large" id="settings">Impostazioni</button></div>
            </div>
            <p class="divider"></p>
            <div class=row-fluid>
                <div class=span6><button class="btn btn-info btn-large" id="help">Help</button></div>
                <div class=span6><button class="btn btn-info btn-large" id="log-out">Log out</button></div>
            </div>

        </div>

    </div>



</div>
