<div id="loginView">

    <div id="wrapper">

        <div class="well">
            <% if (typeof(error)!="undefined") {
            %>
            <div class="alert">
                Errore nel login
            </div>
            <%
            }
            %>
            <h3>Credenziali</h3>


            <div class="row-fluid ">
                <form role="form" id="form-credenziali" action="/provaaa">
                    <div class="form-group">
                        <label>User</label>
                        <input type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Invia</button>
                </form>
            </div>
        </div>
    </div>
</div>
