<div id="messageListView">

    <div id="wrapper">
        <div class="well">
            <h3>Messaggi</h3>

            <div class="row-fluid ">
                <%
                if ((elementsLength==undefined)|| (elementsLength==0)) {
                %>
                Nessun messaggio presente
                <%
                }
                else {
                %>
                <div id="list" style="margin:0px; padding:0px; border-bottom: 1px solid #CCC;"></div>

                <%
                }
                %>
            </div>

        </div>

    </div>


</div>
