<div class="well" style="background-color: white">
    <% if ((typeof (newMessage)!="undefined")&&(newMessage==true)){
    %>
        <button class="btn btn-warning btn-mini">Nuovo</button><br><br>
    <% } %>
    <%= message_archive_content %>
    <hr class=divider></p>
    <p class="muted">Ricevuto il <%= message_archive_datetime_sent %></p>

</div>
